@font-face {
	font-family: "DejaVu Sans";
	src: url('../fonts/permian-sans/PermianSansTypeface.otf');
}
@font-face {
	font-family: "DejaVu Sans";
	src: url('../fonts/permian-sans/PermianSansTypeface-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: "DejaVu Sans";
	src: url('../fonts/permian-sans/PermianSansTypeface-Italic.otf');
	font-style: italic;
}
