$font-family: 'DejaVu Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

$prof-pic-height: 250px;

$grey: #CCC;
$black-font: #666;
$blue: #458BB1;
$light-blue: #F0FFFF;

// Headers
$h1-font-size: 28px !default;
$h2-font-size: 24px !default;
$h3-font-size: 20px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;
