<!-- Load Router -->
<div class="banner">
</div>

<!-- For print purposes -->
<div id="personal-wrap" class="border-wrap">
  <div id="personal-info" class="resume-entry">
    <div class="name">
      <h1>Michael Zadra</h1>
      <h2>Junior Software Developer</h2>
      <h5>Available for a 4-month summer internship</h5>
    </div>
    <div class="contact-info">
      <p>22 Slade Crescent</p>
      <p>Ottawa, K2K 2L1</p>
      <p>1 (613)-265-7914 | Ontario</p>
      <p><a href="mailto:michaelzadra1@gmail.com">michaelzadra1@gmail.com</a></p>
    </div>
  </div>
</div>

<div class="container content-container">
  <router-outlet>
  </router-outlet>
</div>
<div class="footer">
</div>
