<div class="resume container">

  <div id="education" class="resume-entry">
    <div class="category">
      <h1>Education&nbsp;&nbsp;&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i></h1>
    </div>
    <!-- Queen's University -->
    <div class="entry">
      <div class="company">
        <div class="company-title">
          <h3>Queen's University</h3>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/queens-university.png" alt="Queen's University">
        </div>
        <div class="company-slogan">
          <p>"Cha Gheill"</p>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Bachelor of Science - Computer Engineering</h3>
          <h5>September 2013 - April 2018</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Third Year Computer Engineering Student enrolled in the Professional Internship program</li>
            <li>GPA: 3.38</li>
            <li>Expected graduation date: April 2018</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="resume-entry">
    <div class="category">
      <h1>Skills&nbsp;&nbsp;&nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></h1>
    </div>
    <!-- Skills -->
    <div class="entry row">
      <div class="skill col-md-6">
        <h2>Back-End Development</h2>
        <ul class="skill-list half-col">
          <li><i class="devicon-python-plain colored"></i>Python</li>
          <li><i class="devicon-php-plain colored"></i>PHP</li>
          <li><i class="devicon-mysql-plain colored"></i>MySQL</li>
          <li><i class="devicon-java-plain colored"></i>Java</li>
          <li><i class="devicon-cplusplus-plain colored"></i>C++</li>
          <li><i class="devicon-mongodb-plain colored"></i>MongoDB</li>
          <li><i class="devicon-nodejs-plain colored"></i>Node.js</li>
        </ul>
      </div>
      <div class="skill col-md-6">
        <h2>Front-End Development</h2>
        <ul class="skill-list half-col">
          <li><i class="devicon-angularjs-plain colored"></i>Angular 2</li>
          <li><img src="assets/images/typescript.svg">TypeScript</li>
          <li><i class="devicon-javascript-plain colored"></i>JavaScript</li>
          <li><i class="devicon-html5-plain colored"></i>HTML</li>
          <li><i class="devicon-sass-original colored"></i>SASS</li>
          <li><i class="devicon-css3-plain colored"></i>CSS</li>
        </ul>
      </div>
      <div class="skill col-md-12">
        <h2>Proficiencies</h2>
        <ul class="skill-list full-col">
          <li><img src="assets/images/object-oriented.svg">Object-Oriented Programming</li>
          <li><img src="assets/images/mvc.svg">MVC Architecture</li>
          <li><i class="devicon-git-plain colored"></i>Git Version Control</li>
          <li><i class="fa fa-terminal" aria-hidden="true" style="width: 42px;"></i>Unix Command Line</li>
        </ul>
      </div>
    </div>
  </div>


  <div id="work-experience" class="resume-entry">
    <div class="category">
      <h1>Work Experience&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase" aria-hidden="true"></i></h1>
    </div>
    <!-- Scent Trunk -->
    <div class="entry add-b">
      <div class="company">
        <div class="company-title">
          <h2>Scent Trunk</h2>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/scent-trunk.png" alt="Scent Trunk">
        </div>
        <div class="company-slogan">
          <p>"Data-driven fragrance tailoring"</p>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Full-Stack Developer</h3>
          <h5>January 2016 - December 2016</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Completed a 12-month technical internship at the e-commerce startup Scent Trunk, which offers fragrance subscriptions to consumers using data-driven scent tailoring.</li>
            <li>Developed and deployed the front-end architecture of the production website using the Angular 2 framework, HTML, SASS, and TypeScript.</li>
            <li>Built insightful customer and product data analytics tools on the back-end using MySQL, PHP, and Python.</li>
            <li>Engaged in bi-weekly presentations with the team, summarizing important website engagement metrics and proposing design and/or technical solutions which could improve these metrics.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Stats Canada -->
    <div class="entry">
      <div class="company">
        <div class="company-title">
          <h3>Statistics Canada</h3>
          <h5>Ottawa, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/stats-canada.png" alt="Statistics Canada">
        </div>
        <div class="company-slogan">
          <p>"Canada's National Statistical Agency"</p>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Software Developer</h3>
          <h5>April 2014 - August 2014</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Designed and developed Microsoft SQL database code and procedures, for the Federal Government of Canada.</li>
            <li>Presented code and plans to work committee on a weekly basis, explaining how they affect and optimize the organization of statistical systems</li>
            <li>Built insightful customer and product data analytics tools on the back-end using MySQL, PHP, and Python.</li>
            <li>Engaged in bi-weekly presentations with the team, summarizing important website engagement metrics and proposing design and/or technical solutions which could improve these metrics.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="work-experience" class="resume-entry">
    <div class="category">
      <h1>Extra-Curriculars&nbsp;&nbsp;&nbsp;<i class="fa fa-users" aria-hidden="true"></i></h1>
    </div>

  </div>

</div>
