
<div class="resume container">


  <!--<div id="goal" class="resume-entry">
    <div class="category">
      <h2>Objective&nbsp;&nbsp;&nbsp;<i class="fa fa-bullseye" aria-hidden="true"></i></h2>
    </div>
    <div class="entry">
      <p class="objective-text">I am currently seeking a 4-month summer internship for 2017, in hope of discovering an engaging
        and exciting company in which I can continue full-time after graduating in April 2018.
        I'm eager to enhance my current skill-set through continuing to build intricate software
        projects for businesses and consumers, as well continue to diversify my skills in technical fields
        such as software engineering, data science, and autonomous systems.</p>
    </div>
  </div>-->

  <div id="education" class="resume-entry">
    <div class="category">
      <h2>Education&nbsp;&nbsp;&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i></h2>
    </div>
    <!-- Queen's University -->
    <div class="entry">
      <div class="company">
        <div class="company-title">
          <h3>Queen's University</h3>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/v2/queens-university.png" alt="Queen's University">
        </div>
        <div class="company-slogan">
          <h5>"Cha Gheill"</h5>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Bachelor of Science - Computer Engineering</h3>
          <h5>September 2013 - April 2018</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Third Year Computer Engineering Student enrolled in the Professional Internship program.</li>
            <li>Current GPA is 3.38.</li>
            <li>Expected graduation date is April 2018.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="resume-entry">
    <div class="category">
      <h2>Skills&nbsp;&nbsp;&nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></h2>
    </div>
    <!-- Skills -->
    <div class="entry row">
      <div class="skill col-xs-6">
        <h3>Back-End Development</h3>
        <ul class="skill-list half-col">
          <li><img src="assets/images/python.svg" alt="Python">Python</li>
          <li><img src="assets/images/php.svg" alt="PHP">PHP</li>
          <li><img src="assets/images/mysql.svg" alt="MySQL">MySQL</li>
          <li><img src="assets/images/java.svg" alt="Java">Java</li>
          <li><img src="assets/images/cplusplus.svg" alt="C++">C++</li>
          <li><img src="assets/images/mongodb.svg" alt="MongoDB">MongoDB</li>
          <li><img src="assets/images/nodejs.svg" alt="NodeJs">Node.js</li>
        </ul>
      </div>
      <div class="skill col-xs-6">
        <h3>Front-End Development</h3>
        <ul class="skill-list half-col">
          <li><img src="assets/images/angular.svg" alt="Angular">Angular 2</li>
          <li><img src="assets/images/typescript.svg" alt="TypeScript">TypeScript</li>
          <li><img src="assets/images/javascript.svg" alt="JavaScript">JavaScript</li>
          <li><img src="assets/images/html.svg" alt="HTML">HTML</li>
          <li><img src="assets/images/sass.svg" alt="SASS">SASS</li>
          <li><img src="assets/images/css.svg" alt="CSS">CSS</li>
        </ul>
      </div>
      <div class="skill col-xs-12">
        <h3>Technical Proficiencies</h3>
        <ul class="skill-list full-col">
          <li>Object-oriented programming with Python, TypeScript, JavaScript, Java, and C++.</li>
          <li>API development and interaction with Python, PHP, TypeScript, JavaScript, and Node.js.</li>
          <li>Database administration with MySQL, MongoDB, and Microsoft SQL.</li>
          <li>MVC architecture with Angular 2 and AngularJS.</li>
          <li>Unix command line proficient.</li>
          <li>Git version control on collaborative coding projects.</li>
        </ul>
      </div>
    </div>
  </div>


  <div id="work-experience" class="resume-entry">
    <div class="category">
      <h2>Work Experience&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase" aria-hidden="true"></i></h2>
    </div>
    <!-- Scent Trunk -->
    <div id="scent-trunk" class="entry add-b">
      <div class="company">
        <div class="company-title">
          <h3>Scent Trunk</h3>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/v2/scent-trunk.png" alt="Scent Trunk">
        </div>
        <div class="company-slogan">
          <h5>"Data-Driven Fragrance Tailoring"</h5>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Full-Stack Developer</h3>
          <h5>January 2016 - December 2016</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Completed a 12-month internship at the e-commerce startup Scent Trunk, which offers fragrance subscriptions to consumers using data-driven scent tailoring.</li>
            <li>Developed and deployed the front-end architecture of the production website using the Angular 2 framework, HTML, SASS, and TypeScript.</li>
            <li>Built insightful customer and product data analytics tools on the back-end using MySQL, PHP, and Python.</li>
            <li>Engaged in bi-weekly presentations with the team, summarizing important website engagement metrics and proposing design and/or technical solutions which could improve these metrics.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Stats Canada -->
    <div id="stats-canada" class="entry">
      <div class="company">
        <div class="company-title">
          <h3>Statistics Canada</h3>
          <h5>Ottawa, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/v2/stats-canada.png" alt="Statistics Canada">
        </div>
        <div class="company-slogan">
          <h5>"Canada's National Statistical Agency"</h5>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          <h3>Software Developer</h3>
          <h5>April 2014 - August 2014</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Designed and developed Microsoft SQL database code and procedures, for the Federal Government of Canada.</li>
            <li>Presented code and plans to work committee on a weekly basis, explaining how they affect and optimize the organization of statistical systems.</li>
            <li>Debugged, tested, and published SQL code and programs.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="extra-curriculars" class="resume-entry">
    <div class="category">
      <h2>Extra-Curriculars&nbsp;&nbsp;&nbsp;<i class="fa fa-users" aria-hidden="true"></i></h2>
    </div>
    <!-- FREC -->
    <div class="entry add-b">
      <div class="job">
        <div class="job-title">
          <h3>Frosh Regulation Enforcement Committee</h3>
          <h5>September 2015 - April 2016</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Supported Queen’s University in welcoming incoming first year engineering students by leading a group through engineering frosh week.</li>
            <li>Served as a role model throughout the year by easing the transition into university for the group of students, and ensured they were involved with Queen’s Engineering traditions as well their respective education programs.</li>
          </ul>
        </div>
      </div>
      <div class="company">
        <div class="company-title">
          <h3>Queen's Engineering Society</h3>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/v2/queens-engineering.png" alt="Queen's Engineering Society">
        </div>
        <div class="company-slogan">
          <h5>"Renowned Spirit, Unrivaled Excellence"</h5>
        </div>
      </div>
    </div>
    <!-- Engineers Without Borders -->
    <div class="entry">
      <div class="job">
        <div class="job-title">
          <h3>Director of Youth Venture</h3>
          <h5>September 2014 - September 2015</h5>
        </div>
        <div class="job-duties">
          <ul>
            <li>Created and modified Engineers Without Borders presentations, that revolve around international development issues and current international engineering problems relating to poverty.</li>
            <li>Presented and shared these slideshows with youth in high schools, in order to raise awareness within the Kingston community.</li>
            <li>Generated interest for the organization, in order to recruit future volunteers for Engineers Without Borders.</li>
          </ul>
        </div>
      </div>
      <div class="company">
        <div class="company-title">
          <h3>Engineers Without Borders</h3>
          <h5>Kingston, Ontario</h5>
        </div>
        <div class="company-logo">
          <img src="assets/images/v2/engineers-without-borders.png" alt="Engineers Without Borders">
        </div>
        <div class="company-slogan">
          <h5>"Innovative Ventures, Systemic Impact"</h5>
        </div>
      </div>
    </div>

  </div>

</div>
